<!DOCTYPE html>
<html>
<head>
    <title>Upload CWL Files</title>
</head>
<body>
    <h1>Upload CWL Files</h1>
    <form action="{% url 'uploadcwlpage' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="files">Select CWL files:</label>
        <input type="file" name="files" id="files" multiple required>
        <br><br>
        <input type="submit" value="Upload">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
